.projectCard {
    background-color: #2a2929;
    width: 500px;
    border-radius: 1rem;
    margin: 1rem;
    padding-bottom: 0.3rem;
    box-shadow: -1px 0px 16px 3px rgba(0, 0, 0, 0.51);
}

.projectCard__img {
    position: relative;
}

.projectCard__img img {
    width: 100%;
    background-position: center;
    background-size: cover;
    object-fit: cover;
}

.projectCard__title {
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    padding-bottom: 0.5rem;
    background: rgb(255, 255, 255);
    background: linear-gradient(
        180deg,
        rgba(255, 255, 255, 0.07614383644082634) 69%,
        rgba(0, 0, 0, 0.7568161053483894) 78%
    );
}

.projectCard__title p {
    font-size: 1.1rem;
}

.projectCard__links {
    padding: 1rem 0;
    display: flex;
    justify-content: center;
    gap: 2rem;
}

.projectCard__links div a {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.projectCard__links div a:hover {
    transition: ease 0.3s;
    color: #ed5617;
}

@media (min-width: 530px) {
    .projectCard__title {
        padding-bottom: 1.2rem;
    }
    .projectCard__title p {
        font-size: 1.4rem;
    }
}

@media (min-width: 900px) {
    .projectCard__title {
        opacity: 0;
        transition: ease 0.5s;
    }
    .projectCard__title:hover {
        opacity: 1;
    }
}
