* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    overflow-x: hidden;
}

ul,
ol {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

body {
    font-family: 'Poppins', sans-serif;
}

.dark {
    background-color: $dark-bg-1;
    color: $dark-txt;
    transition: all ease 0.3s;
}

.light {
    background-color: $light-bg-1;
    color: $light-txt;
    transition: all ease 0.3s;
}

