.homeContainer{
    height: 90vh;
    width: 100%;
    background-color: rgb(42, 41, 41);
    display: flex;
    justify-content: center;
    align-items: center;
}

.heroSection{
    width: 90%;
}

.heroSection p{
    font-weight: 300;
}

.heroSection h1{
    font-size: 2.2rem;
}

.heroSection h2{
    font-size: 1.4rem;
    font-weight: 300;    
}

.socialMedia{
    margin-top: 1rem;
    display: flex;
    justify-content: flex-start;
    gap: 1rem;
}
