.light .aboutContainer {
    background-color: $light-bg-2;
    //transition: background-color 0.3s linear !important;

}

.dark .aboutContainer {
    background-color: $dark-bg-2;
    //transition: background-color 0.3s linear !important;

}

.aboutContainer {
    padding: 5rem 0;
    .aboutTitle {
        font-size: 1.4rem;
        text-align: center;
        margin-bottom: 2rem;
    }
    .aboutBio {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        div {
            width: 90%;
            margin-bottom: 1rem;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
        .aboutImg img {
            max-width: 70vw;
        }
        .aboutTxt {
            @include screen_576 {
                max-width: 80%;
            }
            @include screen_800 {
                max-width: 70%;
            }
            @include screen_1200 {
                max-width: 60%;
            }
        }
    }
}
