.dark .projectCard {
    background-color: $dark-bg-2;
}

.light .projectCard {
    background-color: rgb(246, 246, 246);
    .projectCard__title{
        color: $dark-txt;
    }

}




.projectCard {
    background-color: #2a2929;
    width: 500px;
    border-radius: 1rem;
    margin: 1rem;
    padding-bottom: 0.3rem;
    box-shadow: -1px 0px 16px 3px rgba(0, 0, 0, 0.51);
    .projectCard__img {
        position: relative;
        img {
            width: 100%;
            background-position: center;
            background-size: cover;
            object-fit: cover;
        }
        .projectCard__title {
            position: absolute;
            top: 0;
            height: 100%;
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: flex-end;
            padding-bottom: 0.5rem;
            div {
                background-color: #0000006a;
                padding: 0.2rem 0.8rem;
                border-radius: 1.5rem;
            }
            p {
                font-size: 1.1rem;
            }
            @include screen_530 {
                padding-bottom: 1.2rem;
                p {
                    font-size: 1.4rem;
                }
            }
        }
    }
    .projectCard__links {
        padding: 1rem 0;
        display: flex;
        justify-content: center;
        gap: 2rem;
        a {
            display: flex;
            flex-direction: column;
            align-items: center;
            @include screen_720 {
                &:hover {
                    transition: ease 0.3s;
                    color: $primary-color;
                }
            }
        }
    }
}
